/* GENERAL */

* {
    box-sizing: border-box;
}

/* CONTAINER */

.container {
    display: flex;
    justify-content: center;
    margin: 10% 10% 0% 10%;
}

/* CARDS */

.oneThird {
    height: 100%;
}

.first {
    background-color: hsl(31, 77%, 52%);
    
}

.second {
    background-color: hsl(184, 100%, 22%);
}

.third {
    background-color: hsl(179, 100%, 13%);
}

/* BUTTON */

.button {
    border: 3px solid white;
    border-radius: 50%;
    padding: 10px;
    
}

/* FOOTER */

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }